.containerp{
    background-color:white;
    border-radius: 10px;
    align-items: center;
    width: 700px;
    padding:5%;
   

}

.image{
    border-radius: 20px;
}
.container2{
    border-radius:20%;
 
}
.all{
background-color: blanchedalmond;

}
.ttt{
display: flex;
flex-direction:row;
gap: 1rem;
}
.sss{
    flex-direction:row;
}
.both{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.text{
    font-size: 20px;
    margin-right: 80px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
}
h3, h2{
    color:#bc6c25;
}
.ccc{
    color:#bc6c25;

}
.container{
    background-color: rgb(237, 218, 255);
    color:black;
    border-radius: 20px;
    padding:6px;
    margin:2px;
}

.prep{
    color:blueviolet; 
}

.ggg{
    color:#bc6c25;

}

